In [1]:
import pandas as pd

df = pd.read_csv('C:\\Users\\Админ\\Desktop\\missing.csv')

In [2]:
df

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [4]:
#Use the head(), tail(), and info() functions to inspect the dataset.
df.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [5]:
df.tail()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pregnant           768 non-null    int64
 1   Glucose            763 non-null    float64
 2   Diastolic_BP       733 non-null    float64
 3   Skin_Fold          541 non-null    float64
 4   Serum_Insulin      394 non-null    float64
 5   BMI                757 non-null    float64
 6   Diabetes_Pedigree  768 non-null    float64
 7   Age                768 non-null    int64
 8   Class              768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [7]:
df.isnull()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,True,False,False,False,False
2,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,True,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,True,True,False,False,False,False
767,False,False,False,False,True,False,False,False,False

In [8]:
df.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [9]:
df.columns

Index(['Pregnant', 'Glucose', 'Diastolic_BP', 'Skin_Fold', 'Serum_Insulin',
       'BMI', 'Diabetes_Pedigree', 'Age', 'Class'],
      dtype='object')

In [10]:
# Remove rows with missing values
df_dropped = df.dropna()

In [11]:
df_dropped

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
...,...,...,...,...,...,...,...,...,...
753,0,181.0,88.0,44.0,510.0,43.3,0.222,26,1
755,1,128.0,88.0,39.0,110.0,36.5,1.057,37,1
760,2,88.0,58.0,26.0,16.0,28.4,0.766,22,0
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0

In [ ]:
df['Attack'].mean()

In [16]:
#Fill missing values with the mean, median, or a specific value using fillna().


df_filled_mean= df.copy()


df_filled_mean[df_filled_mean.select_dtypes(include=['number']).columns] = df_filled_mean.select_dtypes(include=['number']).fillna(df_filled_mean.mean())


df_filled_mean

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [19]:


df_filled_median = df.copy()


numeric_cols = df_filled_median.select_dtypes(include=['number']).columns
df_filled_median[numeric_cols] = df_filled_median[numeric_cols].fillna(df_filled_median[numeric_cols].median())

df_filled_median

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [20]:

df_filled_zero = df.copy()


numeric_cols = df_filled_zero.select_dtypes(include=['number']).columns
df_filled_zero[numeric_cols] = df_filled_zero[numeric_cols].fillna(0)
df_filled_zero

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [21]:
#Use forward or backward filling (ffill() or bfill()) to fill missing data.

df_filled_ffill = df.copy()

df_filled_ffill.fillna(method='ffill', inplace=True)
df_filled_ffill

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [22]:
df_filled_bfill = df.copy()

df_filled_bfill.fillna(method='bfill', inplace=True)
df_filled_bfill

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [23]:
# Comparing shapes to see how many rows were removed or modified
print(f"Original shape: {df.shape}")
print(f"Shape after filling with median: {df_filled_median.shape}")
print(f"Shape after filling with mean: {df_filled_mean.shape}")
print(f"Shape after dropna: {df_dropped.shape}")
print(f"Shape after filling 0: {df_filled_zero.shape}")
print(f"Shape after filling forward: {df_filled_ffill.shape}")
print(f"Shape after forward backwards: {df_filled_bfill.shape}")

Original shape: (768, 9)
Shape after filling with median: (768, 9)
Shape after filling with mean: (768, 9)
Shape after dropna: (392, 9)
Shape after filling 0: (768, 9)
Shape after filling forward: (768, 9)
Shape after forward backwards: (768, 9)

In [25]:
# min-max scaling
from sklearn.preprocessing import MinMaxScaler

df_normalized = df.copy()

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Select numeric columns
numeric_cols = df_normalized.select_dtypes(include=['number']).columns

# Fit the scaler on the numeric columns and transform the data
df_normalized[numeric_cols] = scaler.fit_transform(df_normalized[numeric_cols])

In [26]:
df_normalized

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,0.352941,0.670968,0.489796,0.304348,0.170130,0.314928,0.234415,0.483333,1.0
1,0.058824,0.264516,0.428571,0.239130,0.170130,0.171779,0.116567,0.166667,0.0
2,0.470588,0.896774,0.408163,0.240798,0.170130,0.104294,0.253629,0.183333,1.0
3,0.058824,0.290323,0.428571,0.173913,0.096154,0.202454,0.038002,0.000000,0.0
4,0.000000,0.600000,0.163265,0.304348,0.185096,0.509202,0.943638,0.200000,1.0
...,...,...,...,...,...,...,...,...,...
763,0.588235,0.367742,0.530612,0.445652,0.199519,0.300613,0.039710,0.700000,0.0
764,0.117647,0.503226,0.469388,0.217391,0.170130,0.380368,0.111870,0.100000,0.0
765,0.294118,0.496774,0.489796,0.173913,0.117788,0.163599,0.071307,0.150000,0.0
766,0.058824,0.529032,0.367347,0.240798,0.170130,0.243354,0.115713,0.433333,1.0
767,0.058824,0.316129,0.469388,0.260870,0.170130,0.249489,0.101196,0.033333,0.0

In [27]:
#encode categorical variables
df_encoded = df.copy()

# Identify categorical columns
categorical_cols = df_encoded.select_dtypes(include=['object', 'category']).columns

# Perform one-hot encoding
df_encoded = pd.get_dummies(df_encoded, columns=categorical_cols)
df_encoded

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [28]:
#Use pd.cut() to bin continuous variables into discrete intervals.

df_binned = df.copy()


continuous_cols = df_binned.select_dtypes(include=['number']).columns

bins = {
    'Glucose': [0, 100, 140, 200],  
    'BMI': [0, 18.5, 24.9, 29.9, 40] 
}


for col in continuous_cols:
    if col in bins:
        df_binned[col] = pd.cut(df_binned[col], bins=bins[col], labels=False, include_lowest=True)


df_binned

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,2,72.0,35.00000,155.548223,3.0,0.627,50,1
1,1,0,66.0,29.00000,155.548223,2.0,0.351,31,0
2,8,2,64.0,29.15342,155.548223,1.0,0.672,32,1
3,1,0,66.0,23.00000,94.000000,2.0,0.167,21,0
4,0,1,40.0,35.00000,168.000000,NaN,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,1,76.0,48.00000,180.000000,3.0,0.171,63,0
764,2,1,70.0,27.00000,155.548223,3.0,0.340,27,0
765,5,1,72.0,23.00000,112.000000,2.0,0.245,30,0
766,1,1,60.0,29.15342,155.548223,3.0,0.349,47,1
767,1,0,70.0,31.00000,155.548223,3.0,0.315,23,0

In [ ]:
# Add  interaction or polynomial features 


df_new_features = df.copy()

df_new_features['Glucose_BMI_Interaction'] = df_new_features['Glucose'] * df_new_features['BMI']

df_new_features['Age_Squared'] = df_new_features['Age'] ** 2
df_new_features

In [ ]:
# i dont have date columns so im gonna add it myself


df_dates = df.copy()
df_dates['Date']='2024-01-01'

# Convert a column to datetime if it's not already
df_dates['Date_Column'] = pd.to_datetime(df_dates['Date_Column'])

# Extract year, month, day, etc.
df_dates['Year'] = df_dates['Date_Column'].dt.year
df_dates['Month'] = df_dates['Date_Column'].dt.month
df_dates['Day'] = df_dates['Date_Column'].dt.day

df_dates

In [30]:
#Feature Engineering Using Domain Knowledge
df_engineered = df.copy()


df_engineered['Healthy_BMI'] = df_engineered['BMI'].apply(lambda x: 1 if 18.5 <= x <= 24.9 else 0)
df_engineered

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class,Healthy_BMI
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1,0
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1,0
...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1,0
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0,0

In [36]:
#remove duplicate rows using drop duplicate
df_cleaned = df.copy()


df_cleaned = df_cleaned.drop_duplicates()
df_cleaned.shape

(768, 9)

In [37]:
df.shape

(768, 9)

In [39]:
#remove outliers

import numpy as np
from scipy import stats


df_zscore = df.copy()


numeric_cols = df_zscore.select_dtypes(include=['number']).columns

z_scores = np.abs(stats.zscore(df_zscore[numeric_cols]))

threshold = 3

outliers = (z_scores > threshold).any(axis=1)

df_zscore_cleaned = df_zscore[~outliers]

print(df_zscore_cleaned.head())

   Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0         6    148.0          72.0   35.00000     155.548223  33.6
1         1     85.0          66.0   29.00000     155.548223  26.6
2         8    183.0          64.0   29.15342     155.548223  23.3
3         1     89.0          66.0   23.00000      94.000000  28.1
5         5    116.0          74.0   29.15342     155.548223  25.6

   Diabetes_Pedigree  Age  Class
0              0.627   50      1
1              0.351   31      0
2              0.672   32      1
3              0.167   21      0
5              0.201   30      0

In [41]:
df.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1

In [42]:
#correct categorical data consistency


df_cleaned = df.copy()
df_cleaned['First name']=' Ali'
df_cleaned['last name']='Hazelwood '

categorical_cols = df_cleaned.select_dtypes(include=['object', 'category']).columns

for col in categorical_cols:
    
    df_cleaned[col] = df_cleaned[col].str.lower()
    
  
    df_cleaned[col] = df_cleaned[col].str.strip()


print(df_cleaned.head())

   Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0         6    148.0          72.0   35.00000     155.548223  33.6
1         1     85.0          66.0   29.00000     155.548223  26.6
2         8    183.0          64.0   29.15342     155.548223  23.3
3         1     89.0          66.0   23.00000      94.000000  28.1
4         0    137.0          40.0   35.00000     168.000000  43.1

   Diabetes_Pedigree  Age  Class First name  last name
0              0.627   50      1        ali  hazelwood
1              0.351   31      0        ali  hazelwood
2              0.672   32      1        ali  hazelwood
3              0.167   21      0        ali  hazelwood
4              2.288   33      1        ali  hazelwood

In [43]:
#correct categorical data consistency


df_cleaned['Full_Name'] = df_cleaned['First name'] + ' ' + df_cleaned['last name']

df_cleaned

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class,First name,last name,Full_Name
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1,ali,hazelwood,ali hazelwood
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0,ali,hazelwood,ali hazelwood
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1,ali,hazelwood,ali hazelwood
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0,ali,hazelwood,ali hazelwood
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1,ali,hazelwood,ali hazelwood
...,...,...,...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0,ali,hazelwood,ali hazelwood
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0,ali,hazelwood,ali hazelwood
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0,ali,hazelwood,ali hazelwood
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1,ali,hazelwood,ali hazelwood
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0,ali,hazelwood,ali hazelwood

In [45]:
#Use sklearn.model_selection.train_test_split() to split the dataset into training and testing sets.

from sklearn.model_selection import train_test_split

X = df.drop('Class', axis=1)  # Features
y = df['Class']               # Target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)
print("Training labels shape:", y_train.shape)
print("Testing labels shape:", y_test.shape)

Training set shape: (614, 8)
Testing set shape: (154, 8)
Training labels shape: (614,)
Testing labels shape: (154,)

In [ ]:
#Explore the impact of different train-test split ratios (e.g., 70-30, 80-20) on model performance.


from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

def evaluate_model(test_size):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)
    

    model = LogisticRegression(max_iter=1000)
    model.fit(X_train, y_train)
    
    
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    
    return accuracy


ratios = [0.3, 0.2]
for ratio in ratios:
    accuracy = evaluate_model(test_size=ratio)
    print(f"Test size {ratio*100}% - Accuracy: {accuracy:.2f}")

In [50]:
#Use sklearn.pipeline.Pipeline to create a pipeline that includes steps such as
#missing value imputation, feature scaling, and encoding categorical variables.


from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

numeric_features = X.select_dtypes(include=['number']).columns
categorical_features = X.select_dtypes(include=['object']).columns

# Create preprocessing steps
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),  # Handle missing values
    ('scaler', StandardScaler())  # Scale numerical features
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Handle missing values
    ('onehot', OneHotEncoder(handle_unknown='ignore'))  # Encode categorical features
])


preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(max_iter=1000))
])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.75

In [51]:
#Integrate the preprocessing pipeline with a machine learning model for end-to-end training and evaluation

In [53]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = pipeline.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:")
print(report)

Accuracy: 0.75
Classification Report:
              precision    recall  f1-score   support

           0       0.80      0.83      0.81        99
           1       0.67      0.62      0.64        55

    accuracy                           0.75       154
   macro avg       0.73      0.72      0.73       154
weighted avg       0.75      0.75      0.75       154